<div id="tabbed">
  <tabs>
    <tab name="active units" v-bind:selected="true">
      <%= render :partial => "units_list", locals: {units: @active_units, state: 'active'} %>
    </tab>
  </tabs>
</div>

