<h1>Edit Unit</h1>

<%= render partial: "partials/form_structure", locals: {object: @unit, 
                                                        type_of_form: "Edit Unit",
                                                        fields: "unit_fields"} %>