<h3>Active Units in GCPD</h3>


<%= render partial: "partials/index_structure", locals: {model_name: "unit", 
                                                       primary: "tabbed_index", 
                                                       secondary: nil,
                                                       sidebar: nil} %>
